@model ElectronicTextbook.Web.ViewModels.RegisterViewModel
<h2>Registration</h2>
<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="FirstName">First Name</label><br />
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName">Last Name</label><br />
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="Email">Email</label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Password</label><br />
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword">Confirm Password</label><br />
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>